<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>firstapp</string>
	<key>CFBundleIdentifier</key>
	<string>com.mesibo.firstapp</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>firstapp</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIUserInterfaceStyle</key>
        <string>Light</string>
	<key>NSAppleMusicUsageDescription</key>
        <string>This enables you to send media files using mesibo</string>
        <key>NSCameraUsageDescription</key>
        <string>This allows Mesibo to make video calls and send your pictures directly from your camera.</string>
        <key>NSContactsUsageDescription</key>
        <string>Mesibo syncs phone numbers from your contacts to Mesibo servers to help you connect with other Mesibo users and to provide a better experience</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>This enables you to send your location to your contacts.</string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>This enables you to send your location to your contacts.</string>
        <key>NSLocationUsageDescription</key>
        <string>This enables you to send your location to your contacts.</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>This enables you to send your location to your contacts.</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>This allows Mesibo to use your microphone for voice and video calls</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>This enables you to send your pictures to your Mesibo contacts</string>
        <key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIBackgroundModes</key>
        <array>
                <string>voip</string>
                <string>audio</string>
                <string>fetch</string>
                <string>remote-notification</string>
        </array>
</dict>
</plist>
